<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="cv.astah-book.actionSet">
         <menu
               id="astah-book"
               label="%menu_group"
               path="tool/astah-book">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="cv.TemplateAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/astah-book/"
               id="astah-book">
         </action>
     </actionSet>
   </extension>
</plugin>
